body{ width:1200px; margin:0 auto;color: #5c5c5c;}

.button-top-banner-max, .button-top-banner-min, .button-top-banner-close {
    position: absolute;
    right: 0;
    top: 10px;
    width: 24px;
    height: 24px;
    color: #FFF;
    overflow: hidden;
}

.sec1 .layout li{float: left;padding: 0 8px;position: relative;line-height: 30px;}
.shortcut{    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 10px;
    left: -1px;
    background: #e4e4e4;}
.sec1 .layout a{color: #a4a4a4;}
.sec1 .layout a:hover{color: #CA141C;}

.b {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background: #fff;
    border: 1px solid #ededed;
    -webkit-box-shadow:  0 2px 6px 0 rgba(121,121,121,0.26);
    -moz-box-shadow: 0 2px 6px 0 rgba(121,121,121,0.26);
}
.dropdown-more {
    width: 144px;
    padding: 9px 9px 10px 9px;
    text-align: center;
    line-height: 32px;
}
.dropdown-more .code {
    padding-top: 11px;
    color: #717171;
}
.download-nav:hover{
	display: block;
	border: 1px solid #ededed;
    -webkit-box-shadow:  0 2px 6px 0 rgba(121,121,121,0.26);
    -moz-box-shadow: 0 2px 6px 0 rgba(121,121,121,0.26);
}
.download-nav:hover .b{
	display: block;
	border: 1px solid #ededed;
    -webkit-box-shadow:  0 2px 6px 0 rgba(121,121,121,0.26);
    -moz-box-shadow: 0 2px 6px 0 rgba(121,121,121,0.26);
}

.splendid:hover .splendid_more{
	display: block;
	border: 1px solid #ededed;
    -webkit-box-shadow: 0 2px 6px 0 rgba(121,121,121,0.26);
    -moz-box-shadow: 0 2px 6px 0 rgba(121,121,121,0.26);

}
.splendid:hover{
	display: block;
	
    border: 1px solid #ededed;
    -webkit-box-shadow: 0 2px 6px 0 rgba(121,121,121,0.26);
    -moz-box-shadow: 0 2px 6px 0 rgba(121,121,121,0.26);
}
.splendid_more {	
	display:none; 
	position: absolute;
    top: 30px;
    right: 0;
    background: #fff;      
}
.splendid_more div {
    width: 144px;
    padding: 9px 9px 0px 9px;
    text-align: center;
    line-height: 32px;
}
.u-1{
	float: left;
}
.u-2{
	float: right;
}
.shopingcat-1{
	content: "";
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    
}

//轮播图sec2
#box{
	height: 450px;
	width: 1200px;
	position: relative;
	margin: 30px auto;
	overflow: hidden;
}
#box ul{
		width: 10800px;/*多加一个图片的长度实现无缝轮播*/
		height: 450px;
		position: absolute;		
		left: 0;
		top: 0;
}
#box ul>li{
	float: left;
	width: 1200px;
	height: 450px;
}
#box ol{
	position: absolute;
	bottom: 0;
	right: 0;
}
#box ol>li{
	margin-right:10px ;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	float: left;
	color: yellow;
	cursor: pointer;
}
#box span{
	background: rgba(0,0,0,0.4);
	width: 30px;
	height: 30px;
	position: absolute;
	display: block;
	top: 50%;
	color: white;
	cursor: pointer;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	display: none;
}
#span1{
	left: 10px;
}
#span2{
	right:10px;
}
.checked{
	color: gray;
}
